* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
  background: white;
}
.nav-bar {
  background: rgb(221, 221, 221);
  height: 100px;
  text-align: center;
}
.nav-bar img {
  float: left;
  width: 200px;
  margin: 20px 50px;
}
.nav-bar .nav-el {
  float: right;
  width: 130px;
  height: 70px;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}
.nav-el:hover {
  background: white;
  border-radius: 5px;
}
.bianco {
  background: lightgrey;
  border-radius: 5px;
}
h2 {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: white;
  font-weight: 200;
  position: relative;
}
h2:hover {
  color: grey;
}
.drop-elem {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 90px;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  display: none;
}
/* .drop-elem::after {
  width: 150px;
  height: 100px;
  top: 200px;
  background: blue;
} */
.drop-elem-i {
  border-bottom: 1px solid white;
  width: 100%;
  height: 50px;
  padding: 0;
  padding-top: 20px;
  position: relative;
}
.drop-elem-ii {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 150px;
  background: rgb(221, 221, 221);
  border-radius: 5px;
  display: none;
}
.drop-elem-i:hover {
  border-radius: 5px;
}
.drop-elem-i h2 {
  margin: 0;
}
.arrow {
  margin-right: 10px;
  color: white;
  font-size: 15px;
  float: right;
  line-height: 50px;
}
.drop-elem-i h2:hover {
  color: grey;
}
.drop-elem-i:nth-child(3) {
  border-bottom: none;
}
.active:hover {
  background: lightcoral;
  color: black;
}
.black-text {
  color: grey;
}
.open {
}
.white {
  color: white;
}
.botton-n {
  float: right;
  background: orange;
  border: none;
  border-radius: 3px;
  margin-top: 40px;
  margin-left: 10px;
  padding-top: 15px;
  width: 100px;
  height: 50px;
}
.botton-n h2 {
  color: white;
  margin: 0;
}
.botton-n:hover {
  filter: opacity(.5);
  transition: 1s;
}
.menu-h {
  display: none;
}
.h-m-cont {
  display: none;
}
@media (max-width: 1000px) {
  .h-m{
    color: grey;
    font-size: 25px;
    margin-top: 10px;
  }
  .h-m-cont {
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
  }
  .menu-h {
    width: 100%;
    height: 370px;
    background: #1B3C59;
    /* display: block; */
    padding: 50px 30px
  }
  .x-x {
    float: right;
    color: lightgrey;
    margin: 10px 10px;
    font-size: 25px;
  }
  .nav-bar .nav-el, .nav-bar .botton-n {
    display: none;
  }
  .menu-cont {
    width: 150px;
    height: 400px;
    margin: auto;
  }
  .menu-cont h2 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: white;
    font-weight: 200;
    text-align: center;
  }
  .menu-cont .nav-el:hover {
    border-bottom: 2px solid white;
  }
  .attivo {
    display: block;
  }
  .disattivo {
    display: none;
  }
}
